body {
  font-family: "Kanit";
}

/* Start coding here */
body {
  font-family: "Kanit";
}

/* Start coding here */
body{
  background-color: black;
  
}
.bubble-tea-shop{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
  /* background-image: linear-gradient(to top,black , white); */
}


.img{

  background-image: linear-gradient(to top,black , white); 
}
.bbb{
  border-radius: 10px;
  border: 10px solid white;
  position: relative;
  /* background-image: linear-gradient(to top,black , white);
   */
}
/* .bbg{
  background-image: linear-gradient(20deg,black , white);
 */

.name{
  background-color: hsl(0, 2%, 50%);
  /* width: 3vw; */
  /* height: vh; */
  color: white;
  position: absolute;
  right: 0;
  top: 15px;
  font-size: 30px;
}
.name-product{
  color: white;
  position: absolute;
  left: 10px;
  bottom: 5px;
  font-size: 30px;

}